/* Global styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/e/ef/LagoPusiano001.jpg');
  background-size: cover;
  }
  
  .container {
    width: 90%;
    margin: 0 auto;
  }
  
  /* Navigation bar styles */
  nav {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
  }
  
  /* Heading styles */
  h1 {
    text-align: center;
    margin-top: 50px;
  }
  
  h2 {
    margin-top: 30px;
  }
  
  /* Services section styles */
  .services {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 50px;
  }
  
  .services .card {
    width: calc(33.33% - 20px);
    margin-bottom: 40px;
  }
  
  .services .card img {
    width: 100%;
  }
  
  .services .card h3 {
    margin-top: 20px;
    font-size: 24px;
  }
  
  .services .card p {
    margin-top: 10px;
    font-size: 16px;
  }
  
  /* Owners section styles */
  .owners {
    margin-top: 50px;
  }
  
  .owners .owner {
    display: flex;
    margin-bottom: 30px;
  }
  
  .owners .owner img {
    width: 200px;
    height: 200px;
    margin-right: 20px;
  }
  
  .owners .owner h3 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .owners .owner p {
    font-size: 16px;
  }
  
  #primo{
    color:#fff
  }