/* Impostazioni globali */
body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

/* Header e nav */
header {
  background-color: #0072c6;
  color: #fff;
  padding:
}

#primo{
  color:#fff
}