  body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/1/12/Lago_di_Pusiano_%28Bosisio_Parini%2C_Pusiano%2C_Cesana_Brianza%29.jpg");
    background-size: contain;
    text-align: center;
    background-size: auto;
  }

      
      