.container {
	max-width: 500px;
	margin: auto;
	text-align: center;
}

h1 {
	margin-top: 50px;
}

form {
	display: inline-block;
	text-align: left;
}

label {
	display: block;
	margin-top: 20px;
}

input, select {
	margin-top: 5px;
	padding: 10px;
	border-radius: 5px;
	border: none;
}

button {
	margin-top: 20px;
	background-color: #4CAF50;
	color: white;
	padding: 10px 20px;
	border-radius: 5px;
	border: none;
}